{% extends "base.html" %}
{% block stylesheets %}
 <link href="/static/css/login.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}

<form role="form" method="post" action="">

  {% csrf_token %}
<div class="blurred-box" style="height: 450px">

  <div class="user-login-box">
    <span class="user-icon"></span>

    {% if msg %}
    <span class="text-danger user-name">{{ msg | safe }}</span>
    {% else %}
    <div class="user-name">Inserta tu Token</div>
    {% endif %}
    {{ form.password }}
    <button type="submit" name="login"> Ingresar </button>

    <span class="register">
     ¿No tienes un Usuario? <a href="{% url 'register' %}" class="create">Crealo</a>
    </span>
  </div>
</div>
  </form>
{% endblock content %}