{% extends "base.html" %}
{% block stylesheets %}
<link href="/static/css/forms.css" rel="stylesheet">
<style>
    .table-container {
        max-height: 400px; /* Ajusta la altura según tus necesidades */
        overflow-y: auto;
        border: 1px solid #ccc;
    }
    .table {
        width: 100%;
        border-collapse: collapse;
    }
    .table thead {
        position: sticky;
        top: 0;
        background-color: #1e264e;
        color: white;
    }
    .table th, .table td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    /* Estilos del scroll personalizado */
    .table-container::-webkit-scrollbar-track {
        border: 0.5px solid #000000;
        background-color: #F5F5F5;
    }
    .table-container::-webkit-scrollbar {
        width: 10px;
        background-color: #F5F5F5;
    }
    .table-container::-webkit-scrollbar-thumb {
        background-color: #ffd500;
    }
</style>
{% endblock stylesheets %}

{% block content %}
<form role="form" method="post" action="" style="margin-left: 250px; padding-right: 190px" enctype="multipart/form-data">
    {% csrf_token %}

    {% if msg %}
    <h2 class="text-danger">{{ msg | safe }}</h2>
    {% else %}
    <h2>Asignación de Bobinas</h2>
    {% endif %}
    <div class="container">
        <!-- Formulario de búsqueda -->
        <div class="user-box">
            {{ form.ordenproduccion }}
            <label>Orden de producción</label>
        </div>

        <button type="submit" name="buscar" class="button"> BUSCAR </button>

        {% if orden %}
        <h3 style="color: white">DATOS DE LA ORDEN</h3>
        <table class="table" style="color: white">
            <thead style="background-color: #1e264e; color: white">
                <tr>
                    <th scope="col">Orden</th>
                    <th scope="col">SKU</th>
                    <th scope="col">Descripción SKU</th>
                    <th scope="col">Estatus</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ orden.uniqueid }}</td>
                    <td>{{ orden.FK_sku_id.sku }}</td>
                    <td>{{ orden.FK_sku_id.description }}</td>
                    <td>{{ orden.status }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    {% if orden.status == 'LIB' %}

    <div class="container">
        <div class="user-box">
            {{ form2.folio_inicial }}
            <label>Folio Inicial</label>
        </div>
        <div class="user-box">
            {{ form2.folio_final }}
            <label>Folio Final</label>
        </div>
        <button type="submit" name="filtrar" class="button"> FILTRAR </button>
        <h3 style="color: white">BOBINAS</h3>
        <div class="table-container">
            <table class="table" id="myTable">
                <thead style="background-color: #1e264e; color: white">
                    <tr>
                        <th scope="col">
                            <input type="checkbox" id="select_all"> <!-- Checkbox para seleccionar todo -->
                        </th>
                        <th scope="col">Rollo</th>
                        <th scope="col">SKU</th>
                        <th scope="col">Folio Inicial</th>
                        <th scope="col">Folio Final</th>
                        <th scope="col">Total Rollo</th>
                        <th scope="col">Merma</th>
                        <th scope="col">No caja</th>
                        <th scope="col">Total por caja</th>
                        <th scope="col">Estatus</th>
                    </tr>
                </thead>
                <tbody style="color: white">
                    {% for bobina in bobinas %}
                    <tr>
                        <td>
                            <input type="checkbox" name="selected_bobinas" value="{{ bobina.id }}"
                                   data-numrollo="{{ bobina.numrollo }}"
                                   {% if bobina.id in selected_order_coils %}checked{% endif %}>
                        </td>
                        <td>{{ bobina.numrollo }}</td>
                        <td>{{ bobina.sku }}</td>
                        <td>{{ bobina.initNumber }}</td>
                        <td>{{ bobina.finishNumber }}</td>
                        <td>{{ bobina.missing }}</td>
                        <td>{{ bobina.notDelivered }}</td>
                        <td>{{ bobina.boxNumber }}</td>
                        <td>{{ bobina.missing }}</td>
                        <td>{{ bobina.FK_coilStatus_id.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <input type="hidden" name="selected_bobinasft" id="selected_bobinasft" value="">
    <input type="hidden" name="initial_bobinas" value="{{ orden.coils }}">
    <input type="hidden" id="current_bobinas" name="current_bobinas" value="{{ orden.coils }}">
    <input type="hidden" name="bobinas_solicitadas" value='{{ bobinas_solicitadas|join:"," }}'>
    <!-- Botón de crear dentro del formulario -->
    <button type="submit" name="crear" class="create"> Crear </button>
    {% endif %}
    {% endif %}
</form>
{% endblock content %}

{% block javascripts %}
<script>
var selectedBobinas = [];

document.addEventListener('DOMContentLoaded', (event) => {
    // Al cargar la página, guarda el estado inicial de las bobinas seleccionadas
    const initialBobinas = document.querySelector('input[name="initial_bobinas"]').value.split(',');
    initialBobinas.forEach(bobinaId => {
        let checkbox = document.querySelector(`input[type="checkbox"][value="${bobinaId}"]`);
        if (checkbox) {
            checkbox.checked = true;
            selectedBobinas.push(bobinaId);  // Agregar bobina inicial a la lista seleccionada
        }
    });
    document.getElementById('selected_bobinasft').value = selectedBobinas.join(',');

    // Checkbox "Seleccionar Todo"
    document.getElementById('select_all').addEventListener('change', function(event) {
        let checkboxes = document.querySelectorAll('input[type="checkbox"][name="selected_bobinas"]');
        checkboxes.forEach(checkbox => {
            checkbox.checked = event.target.checked;
            if (event.target.checked) {
                if (!selectedBobinas.includes(checkbox.value)) {
                    selectedBobinas.push(checkbox.value);
                }
            } else {
                selectedBobinas = [];
            }
        });
        document.getElementById('current_bobinas').value = selectedBobinas.join(',');
        document.getElementById('selected_bobinasft').value = selectedBobinas.join(',');
    });

    // Actualiza el campo hidden 'current_bobinas' al cambiar el estado de cualquier checkbox
    document.querySelectorAll('input[type="checkbox"][name="selected_bobinas"]').forEach(checkbox => {
        checkbox.addEventListener('change', (event) => {
            let bobinaId = event.target.value;
            if (event.target.checked) {
                if (!selectedBobinas.includes(bobinaId)) {
                    selectedBobinas.push(bobinaId);
                }
            } else {
                selectedBobinas = selectedBobinas.filter(id => id !== bobinaId);
            }
            document.getElementById('current_bobinas').value = selectedBobinas.join(',');
            document.getElementById('selected_bobinasft').value = selectedBobinas.join(',');
        });
    });

    // Antes de enviar el formulario, asegurarse de que current_bobinas contenga todas las selecciones
    document.querySelector('form').addEventListener('submit', () => {
        document.getElementById('current_bobinas').value = selectedBobinas.join(',');
    });
});
</script>
{% endblock javascripts %}