{% extends "base.html" %}
{% load static %}
{% block stylesheets %}  <link href="/static/css/crud.css" rel="stylesheet"> {% endblock stylesheets %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
	<h1 style="color: white; margin-bottom: 30px">Manejo de Bobinas</h1>

	<table class="table" id="myTable">
		<thead style="background-color: #1e264e">
			<tr>
                        <th scope="col">ID</th>
                        <th scope="col">Rollo</th>
                        <th scope="col">SKU</th>
                        <th scope="col">Folio Inicial</th>
                        <th scope="col">Folio Final</th>
                        <th scope="col">Total Rollo</th>
                        <th scope="col">Merma</th>
                        <th scope="col">No caja</th>
                        <th scope="col">Total por caja</th>
                        <th scope="col">Estatus</th>
				 {% if perms.cuervo.change_coil %}
				<th scope="col">Editar</th>{% endif %}
                {% if perms.cuervo.delete_label %}
				<th scope="col">Borrar Folios</th>{% endif %}
			</tr>
		</thead>
		<tbody>
		{% for coil in coilList %}
			<tr>
            <td>{{ coil.id }}</td>
                        <td>{{ coil.numrollo }}</td>
                        <td>{{ coil.sku }}</td>
                        <td>{{ coil.initNumber }}</td>
                        <td>{{ coil.finishNumber }}</td>
                        <td>{{ coil.missing }}</td>
                        <td>{{ coil.notDelivered }}</td>
                        <td>{{ coil.boxNumber }}</td>
                        <td>{{ coil.missing }}</td>
                        <td>{{ coil.FK_coilStatus_id.name }}</td>
				 {% if perms.cuervo.change_coil %}
				<td><a href="{% url 'coil-edit' coil.id %}"><span><img class="img" src="{% static 'media/edit.png' %}"/></span></a></td>{% endif %}
                {% if perms.cuervo.delete_label %}
				<td><a href="{% url 'deleteLabelsFromCoil' coil.id %}"><span><img class="img" src="{% static 'media/delete.png' %}"/></span></a></td>{% endif %}
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% else %}
 <div class="w3-panel w3-yellow">
            <h3 style="color: white">No has iniciado seccion!</h3>
            <p style="color: white">Por favor acceda al siguiente <a href="{% url 'login' %}" class="create">Link</a> para iniciar seccion</p>
        </div>
{% endif %}
{% endblock content %}

{% block javascripts %}
<script>
        $(document).ready(function () {
            var table = $('#myTable').DataTable({
                "pageLength": 5,
                "lengthMenu": [5, 10]
            });
            generateBarcodes();
        });
    </script>
{% endblock javascripts %}