{% extends "base.html" %}
{% block stylesheets %}
 <link href="/static/css/forms.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}

<form role="form" method="post" action="" style="margin-left: 250px; padding-right: 190px" enctype="multipart/form-data">
  {% csrf_token %}

     {% if msg %}
    <h2 class="text-danger">{{ msg | safe }}</h2>
    {% else %}
    <h2>Crea una Bobina</h2>
    {% endif %}

 <div style="margin-top:20px;">
      <label style="color:white;">Folios</label>
    <input type="file" name="csv_file" accept=".csv">
    </div>

<div class="user-box">
    {{ form.boxNumber }}
      <label>Número de Caja</label>
    </div>

<div class="user-box">
    {{ form.notDelivered }}
      <label>Folios Faltantes</label>
    </div>

<div class="user-box">
    {{ form.numrollo }}
      <label>NO. Rollo</label>
    </div>

<div class="user-box">
    {{ form.purchaseOrder }}
      <label>Pedido</label>
    </div>

<div >
      <label style="color:white;">Estatus de los Marbetes</label>
    {{ form.FK_labelStatus_id }}
    </div>

<div style="margin-top:20px;">
      <label style="color:white;">Ubicacion de los Marbetes</label>
    {{ form.FK_inventoryLocation_id }}
    </div>

<div style="margin-top:20px;">
      <label style="color:white;">SKU</label>
    {{ form.FK_sku_id }}
    </div>

 <div style="margin-top:20px;" >
      <label style="color:white;">Estatus de la bobina</label>
    {{ form.FK_coilStatus_id }}
    </div>

 <div style="margin-top:20px;">
     <label style="color:white;">Tipo de bobina</label>
    {{ form.FK_coilType_id }}
    </div>

 <div style="margin-top:20px;">
      <label style="color:white;">Proveedor de bobinas</label>
    {{ form.FK_coilProvider_id }}
    </div>

   <button type="submit" name="login" class="create"> Crear </button>
  </form>
{% endblock content %}