{% extends "base.html" %}
{% block stylesheets %}
 <link href="/static/css/forms.css" rel="stylesheet">
<style>
    .table-container {
        max-height: 400px; /* Ajusta la altura según tus necesidades */
        overflow-y: auto;
        border: 1px solid #ccc;
    }
    .table {
        width: 100%;
        border-collapse: collapse;
    }
    .table thead {
        position: sticky;
        top: 0;
        background-color: #1e264e;
        color: white;
    }
    .table th, .table td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    .table-container::-webkit-scrollbar-track {
        border: 0.5px solid #000000;
        background-color: #F5F5F5;
    }
    .table-container::-webkit-scrollbar {
        width: 10px;
        background-color: #F5F5F5;
    }
    .table-container::-webkit-scrollbar-thumb {
        background-color: #ffd500;
    }
</style>
{% endblock stylesheets %}

{% block content %}
<form role="form" method="post" action="" style="margin-left: 250px; padding-right: 190px" enctype="multipart/form-data">
    {% csrf_token %}

    {% if msg %}
    <h2 class="text-danger">{{ msg | safe }}</h2>
    {% else %}
    <h2>Crear Solicitud de Bobinas <span class="btn btn-info btn-sm" data-toggle="modal" data-target="#instruccionesModal">?</span></h2>
    {% endif %}
    <div class="container">
        <div class="user-box">
            {{ form.ordenproduccion }}
            <label>Orden de producción</label>
        </div>

        <button type="submit" name="buscar" class="button">BUSCAR</button>

        {% if orden %}
        <h3 style="color: white">DATOS DE LA ORDEN</h3>
        <table class="table" style="color: white">
            <thead style="background-color: #1e264e; color: white">
                <tr>
                    <th scope="col">Orden</th>
                    <th scope="col">SKU</th>
                    <th scope="col">Descripción SKU</th>
                    <th scope="col">Estatus</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ orden.uniqueid }}</td>
                    <td>{{ orden.FK_sku_id.sku }}</td>
                    <td>{{ orden.FK_sku_id.description }}</td>
                    <td>{{ orden.status }}</td>
                </tr>
            </tbody>
        </table>
        <br><br>
        {% endif %}
    </div>
    <br>
    {% if orden.status == 'REL' or orden.status == 'CRTD' %}
    <div class="container">

        <div class="user-box">
            <input type="number" name="marbetes_necesarios" id="marbetes_necesarios" value="{{ marbetes_necesarios }}">
            <label>Cantidad de marbetes necesarios</label>
        </div>

        <button type="submit" name="seleccionar" class="button">Seleccionar Bobinas</button>
        <br>
        <h3 style="color: white">BOBINAS</h3>
        <div class="table-container">
        <table class="table" id="myTable">
            <thead style="background-color: #1e264e; color: white">
                <tr>
                    <th scope="col">
                            <input type="checkbox" id="select_all"> <!-- Checkbox para seleccionar todo -->
                    </th>
                    <th scope="col">Rollo</th>
                    <th scope="col">SKU Etiqueta</th>
                    <th scope="col">Folio Inicial</th>
                    <th scope="col">Folio Final</th>
                    <th scope="col">Total Rollo</th>
                    <th scope="col">Merma</th>
                    <th scope="col">No caja</th>
                    <th scope="col">Total por caja</th>
                    <th scope="col">Provedor</th>
                    <th scope="col">Estatus</th>
                </tr>
            </thead>
            <tbody style="color: white">
                {% for bobina in bobinas %}
                <tr>
                    <td>
                        <input type="checkbox" name="selected_bobinas" value="{{ bobina.id }}"
                            data-missing="{{ bobina.missing }}"
                            {% if bobina.selected %}checked{% endif %}>
                    </td>
                    <td>{{ bobina.numrollo }}</td>
                    <td>{{ bobina.sku }}</td>
                    <td>{{ bobina.initNumber }}</td>
                    <td>{{ bobina.finishNumber }}</td>
                    <td>{{ bobina.missing }}</td>
                    <td>{{ bobina.notDelivered }}</td>
                    <td>{{ bobina.boxNumber }}</td>
                    <td>{{ bobina.missing }}</td>
                    <td>{{ bobina.FK_coilProvider_id }}</td>
                    <td>{{ bobina.FK_coilStatus_id.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
    <div>
    <h3 style="color: white">CANTIDAD TOTAL DE MARBETES SOLICITADOS:</h3>
    <h4 style="color: red" id="total_quantity">{{ marbetes_totales }}</h4> <!-- Usar la variable `marbetes_totales` -->
    <input type="hidden" name="total_quantity_hidden" id="total_quantity_hidden" value="{{ marbetes_totales }}">
    <input type="hidden" id="current_bobinas" name="current_bobinas" value="{{ orden.coils }}">
</div>

    <button type="submit" name="crear" class="create">Crear</button>
    {% endif %}
</form>

<!-- Modal -->
<div class="modal fade" id="instruccionesModal" tabindex="-1" aria-labelledby="instruccionesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="instruccionesModalLabel">Instrucciones</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><b>Objetivo:</b> Realizar la solicitud de bobinas, imprimir la solicitud y dar paso a la entrega de marbetes.</p>
		<p><b>Requisitos:</b> Asignar previamente las bobinas correctas a la orden de producción.</p>
                <p><b>Paso 1:</b> Ingresar la orden de producción a la que se le desea solicitar bobinas.</p>
                <p><b>Paso 2:</b> Validar si hay bobinas disponibles para solicitar.</p>
                <p><b>Paso 3:</b> Ingresar la cantidad requerida en la planeación para la orden de producción.</p>
                <p><b>Paso 4:</b> Dar clic en “Seleccionar bobinas”.</p>
		<p><b>NOTA:</b> Las bobinas se seleccionaran de manera ascendente según los números de folios.</p>
                <p><b>Paso 5:</b> Validar que las bobinas seleccionadas sean las correctas.</p>
                <p><b>Paso 6:</b> Si las bobinas no son las correctas seleccionar y deseleccionar de manera manual.</p>
                <p><b>Paso 7:</b> Una vez validado las bobinas dar clic en “Crear”.</p>
		<p><b>IMPORTANTE:</b> Una vez se soliciten las bobinas ya no le aparecerán dichas
		bobinas a almacén, si se solicitó una bobina incorrecta y no se ha aceptado la
		solicitud se puede editar y quitarla de la solicitud, si la solicitud ya se aceptó,
		esta bobina incorrecta se debe devolver para que sea visible para almacén.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<script>
    var selectedBobinas = {};
    var checkedBobinas = [];

    function updateTotalQuantity() {
        var totalQuantity = 0;
        Object.keys(selectedBobinas).forEach(function (key) {
            totalQuantity += selectedBobinas[key];
        });
        $('#total_quantity').text(totalQuantity);
        $('#total_quantity_hidden').val(totalQuantity);
    }

    $('body').on('change', 'input[type="checkbox"][name="selected_bobinas"]', function () {
        var bobinaId = $(this).val();
        var missing = parseInt($(this).data('missing'));

        if ($(this).is(':checked')) {
            selectedBobinas[bobinaId] = missing;
            if (!checkedBobinas.includes(bobinaId)) {
                checkedBobinas.push(bobinaId);
            }
        } else {
            delete selectedBobinas[bobinaId];
            checkedBobinas = checkedBobinas.filter(id => id !== bobinaId);
        }

        updateTotalQuantity();
        $('#current_bobinas').val(checkedBobinas.join(','));
    });

    // Inicializar la cantidad total al cargar la página
    updateTotalQuantity();

    // Función para manejar la selección de bobinas
    function selectBobinas() {
        var marbetesNecesarios = parseInt($('#marbetes_necesarios').val());
        var totalMarbetes = 0;

        // Resetear selección
        selectedBobinas = {};
        checkedBobinas = [];

        // Seleccionar bobinas automáticamente
        $('#myTable tbody tr').each(function () {
            var checkbox = $(this).find('input[type="checkbox"][name="selected_bobinas"]');
            var bobinaId = checkbox.val();
            var missing = parseInt(checkbox.data('missing'));

            if (totalMarbetes < marbetesNecesarios) {
                totalMarbetes += missing;
                selectedBobinas[bobinaId] = missing;
                checkedBobinas.push(bobinaId);
                checkbox.prop('checked', true);
            } else {
                checkbox.prop('checked', false);
            }
        });

        updateTotalQuantity();
        $('#current_bobinas').val(checkedBobinas.join(','));
    }

    // Manejar el clic en el botón "Seleccionar Bobinas"
    $('button[name="seleccionar"]').on('click', function (event) {
        event.preventDefault();
        selectBobinas();
    });

    // Antes de enviar el formulario, asegurarse de que current_bobinas contenga todas las selecciones
    $('form').submit(function() {
        $('#current_bobinas').val(checkedBobinas.join(','));
        updateTotalQuantity();  // Asegurarse de que el total se actualiza antes de enviar el formulario
    });

    // Seleccionar/deseleccionar todas las bobinas
    $('#select_all').on('change', function () {
        var checked = $(this).is(':checked');
        $('input[type="checkbox"][name="selected_bobinas"]').prop('checked', checked).trigger('change');
    });
</script>
{% endblock javascripts %}
