{% extends "base.html" %}
{% block stylesheets %}
 <link href="/static/css/forms.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
<form role="form" method="post" action="" style="margin-left: 250px; padding-right: 190px" enctype="multipart/form-data">
    {% csrf_token %}

    {% if msg %}
    <h2 class="text-danger">{{ msg | safe }}</h2>
    {% else %}
    <h2>Crea una Bobina</h2>
    {% endif %}
    <div class="container">
        <!-- Formulario de búsqueda -->
        <div class="user-box">
            {{ form.ordenproduccion }}
            <label>Orden de producción</label>
        </div>

        <button type="submit" name="buscar" class="button"> BUSCAR </button>

        {% if orden %}
        <h3 style="color: white">DATOS DE LA ORDEN</h3>
        <table class="table" style="color: white">
            <thead style="background-color: #1e264e; color: white">
                <tr>
                    <th scope="col">Orden</th>
                    <th scope="col">SKU</th>
                    <th scope="col">Descripción SKU</th>
                    <th scope="col">Estatus</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ orden.uniqueid }}</td>
                    <td>{{ orden.FK_sku_id.sku }}</td>
                    <td>{{ orden.FK_sku_id.description }}</td>
                    <td>{{ orden.status }}</td>
                </tr>
            </tbody>
        </table>
        <br><br>
        <h3 style="color: white">LOTES GRANEL</h3>
        <table class="table" style="color: white">
            <thead style="background-color: #1e264e; color: white">
                <tr>
                    <th scope="col">Lote Granel</th>
                </tr>
            </thead>
            <tbody>
            {% for granel_lote in granel_lotes %}
                <tr>
                    <td>{{ granel_lote.granel_lot }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br><br>
        <div>
        <label style="color:white;">LOTE:</label>
        <select name="selected_lote" id="selected_lote" onchange="this.form.submit()">
            <option value="" {% if not selected_lote_id %}selected{% endif %}>Seleccione un lote</option>
            {% for lote in lotes %}
            <option value="{{ lote.id }}" {% if lote.id == selected_lote_id %}selected{% endif %}>
                {{ lote.lot }}
            </option>
            {% endfor %}
        </select>
    </div>

    <input type="hidden" name="selected_lote_hidden" id="selected_lote_hidden" value="{% if selected_lote %}{{ selected_lote.id }}{% endif %}">
    <br>
    {% if selected_lote %}
    <h3 style="color: white">DATOS DEL LOTE</h3>
    <table class="table" style="color: white">
        <thead style="background-color: #1e264e; color: white">
            <tr>
                <th scope="col">Lote</th>
                <th scope="col">Proveedor</th>
                <th scope="col">Tipo Marbete</th>
                <th scope="col">Material</th>
                <th scope="col">Almacén</th>
                <th scope="col">Número de piezas</th>
                <th scope="col">Número de factura</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ selected_lote.lot }}</td>
                <td>{{ selected_lote.FK_coilProvider_id.name }}</td>
                <td>{{ selected_lote.label_type }}</td>
                <td>{{ selected_lote.material }}</td>
                <td>{{ selected_lote.store }}</td>
                <td>{{ selected_lote.pieces_number }}</td>
                <td>{{ selected_lote.invoice_number }}</td>
            </tr>
        </tbody>
    </table>
    {% endif %}
        <br><br>
        {% endif %}
    </div>

    <br><br><br>
    <div class="container">
        <h3 style="color: white">BOBINAS</h3>
        <table class="table" id="myTable">
            <thead style="background-color: #1e264e; color: white">
                <tr>
                    <th scope="col">Seleccionar</th>
                    <th scope="col">Bobina</th>
                    <th scope="col">SKU</th>
                    <th scope="col">Folio Inicial</th>
                    <th scope="col">Folio Final</th>
                    <th scope="col">Total Rollo</th>
                    <th scope="col">Lugar Destino</th>
                    <th scope="col">Merma</th>
                    <th scope="col">No caja</th>
                    <th scope="col">Total por caja</th>
                </tr>
            </thead>
            <tbody style="color: white">
    {% for bobina in bobinas %}
    <tr>
        <td>
            <input type="checkbox" name="selected_bobinas" value="{{ bobina.id }}"
                            data-numrollo="{{ bobina.numrollo }}"
                            {% if bobina.id in selected_order_coils %}checked{% endif %}>
        </td>
        <td>{{ bobina.id }}</td>
        <td>{{ bobina.sku }}</td>
        <td>{{ bobina.initNumber }}</td>
        <td>{{ bobina.finishNumber }}</td>
        <td>{{ bobina.numrollo }}</td>
        <td>{{ bobina.unit }}</td>
        <td>{{ bobina.missing }}</td>
        <td>{{ bobina.boxNumber }}</td>
        <td>{{ bobina.delivered }}</td>
    </tr>
    {% endfor %}
</tbody>
        </table>
    </div>
    <input type="hidden" name="selected_bobinasft" id="selected_bobinasft" value="">
    <input type="hidden" name="initial_bobinas" value="{{ orden.coils }}">
    <input type="hidden" id="current_bobinas" name="current_bobinas" value="{{ orden.coils }}">
    <!-- Botón de crear dentro del formulario -->
    <button type="submit" name="crear" class="create"> Crear </button>
</form>
{% endblock content %}

{% block javascripts %}
<script>
$(document).ready(function () {
    var table = $('#myTable').DataTable({
        "pageLength": 5,
        "lengthMenu": [5, 10]
    });
});

var selectedBobinas = [];

document.addEventListener('DOMContentLoaded', (event) => {
    // Al cargar la página, guarda el estado inicial de las bobinas seleccionadas
    const initialBobinas = document.querySelector('input[name="initial_bobinas"]').value.split(',');
    initialBobinas.forEach(bobinaId => {
        let checkbox = document.querySelector(`input[type="checkbox"][value="${bobinaId}"]`);
        if (checkbox) {
            checkbox.checked = true;
            selectedBobinas.push(bobinaId);  // Agregar bobina inicial a la lista seleccionada
        }
    });
    document.getElementById('selected_bobinasft').value = selectedBobinas.join(',');

    // Actualiza el campo hidden 'current_bobinas' al cambiar el estado de cualquier checkbox
    document.querySelectorAll('input[type="checkbox"][name="selected_bobinas"]').forEach(checkbox => {
        checkbox.addEventListener('change', (event) => {
            let bobinaId = event.target.value;
            if (event.target.checked) {
                if (!selectedBobinas.includes(bobinaId)) {
                    selectedBobinas.push(bobinaId);
                }
            } else {
                selectedBobinas = selectedBobinas.filter(id => id !== bobinaId);
            }
            document.getElementById('current_bobinas').value = selectedBobinas.join(',');
            document.getElementById('selected_bobinasft').value = selectedBobinas.join(',');
        });
    });

    // Antes de enviar el formulario, asegurarse de que current_bobinas contenga todas las selecciones
    document.querySelector('form').addEventListener('submit', () => {
        document.getElementById('current_bobinas').value = selectedBobinas.join(',');
    });
});

document.getElementById('selected_lote').addEventListener('change', function() {
    document.getElementById('selected_lote_hidden').value = this.value;
    this.form.submit();
});

</script>
{% endblock javascripts %}