{% extends "base.html" %}
{% load static %}
{% block stylesheets %}  <link href="/static/css/submenu.css" rel="stylesheet"> {% endblock stylesheets %}

{% block content %}
{% if user.is_authenticated %}
<div class="cards-list">

<div class="card 1" onclick="javascript:location.href='/labelStatus'">
  <div class="card_image"> <img src="{% static 'media/botellas-tequila.jpg' %}" /> </div>
  <div class="card_title title-white">
    <p class="card_text">Estatus de Marbetes</p>
  </div>
</div>

  <div class="card 2" onclick="javascript:location.href='/coilStatus'">
  <div class="card_image">
    <img src="{% static 'media/status_coil.webp' %}" />
    </div>
  <div class="card_title title-white">
    <p class="card_text">Estatus de Bobinas</p>
  </div>
</div>



<div class="card 3" onclick="javascript:location.href='/inventoryLocation'">
  <div class="card_image">
    <img src="{% static 'media/Ubicaciones.jpeg' %}" />
  </div>
  <div class="card_title title-white">
    <p class="card_text">Ubicaciones de Inventario</p>
  </div>
</div>

      </div>

    <div class="cards-list">

    <div class="card 1" onclick="javascript:location.href='/coilType'">
  <div class="card_image">
    <img src="{% static 'media/bobina.webp' %}" />
    </div>
  <div class="card_title title-white">
    <p class="card_text">Tipo de Bobinas</p>
  </div>
  </div>

<div class="card 2" onclick="javascript:location.href='/coilProvider'">
  <div class="card_image">
    <img src="{% static 'media/pc-kraft3.jpg' %}" />
  </div>
  <div class="card_title title-white">
    <p class="card_text">Proveedores de Bobinas</p>
  </div>
</div>

  <div class="card 3" onclick="javascript:location.href='/SKU'">
  <div class="card_image">
    <img src="{% static 'media/barcode.jpeg' %}" />
    </div>
  <div class="card_title title-white">
    <p class="card_text">SKU</p>
  </div>
  </div>

</div>

     <div class="cards-list">
     <div class="card 1" onclick="javascript:location.href='/skuType'">
  <div class="card_image">
    <img src="{% static 'media/SKU.jpeg' %}" />
  </div>
  <div class="card_title title-white">
    <p class="card_text">Marcas</p>
  </div>
</div>

  <div class="card 2" onclick="javascript:location.href='/Line'">
  <div class="card_image">
    <img src="{% static 'media/Lineas.jpeg' %}" />
    </div>
  <div class="card_title title-white">
    <p class="card_text">Lineas</p>
  </div>
  </div>
<div class="card 3" onclick="javascript:location.href='/request-status'">
  <div class="card_image">
    <img src="{% static 'media/Estados_de_Solicitudes.jpeg' %}" />
  </div>
  <div class="card_title title-white">
    <p class="card_text">Estados de Solicitudes</p>
  </div>
</div>

</div>

{% else %}
 <div class="w3-panel w3-yellow">
            <h3 style="color: white">No has iniciado seccion!</h3>
            <p style="color: white">Por favor acceda al siguiente <a href="{% url 'login' %}" class="create">Link</a> para iniciar seccion</p>
        </div>
{% endif %}
{% endblock content %}