{% extends "base.html" %}
{% load static %}
{% block stylesheets %}  <link href="/static/css/errorpage.css" rel="stylesheet"> {% endblock stylesheets %}

{% block content %}
<section class="tv-error-404-tm" style="background-image: url({% static 'media/fondo-error.webp' %});
background-position:top center; background-size:cover; height:800px; margin: -20px">
  <div class="tv-dark-background-tm"></div>
  <div class="container tv-error-content-tm">
    <div style="margin-left: 150px" class="col-md-12">
      <h1>{{ tittle }}</h1>
      <h3>{{ msg }}</h3>
      <div class="tv-error-links-tm">
        <a href="{{ link }}" class="btn">Regresar</a>
      </div>
    </div>
  </div>
</section>
{% endblock content %}