{% extends "base.html" %}
{% block stylesheets %}
 <link href="/static/css/forms.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}

<form role="form" method="post" action="" style="margin-left: 250px; padding-right: 190px" enctype="multipart/form-data">
  {% csrf_token %}

     {% if msg %}
    <h2 class="text-danger">{{ msg | safe }}</h2>
    {% else %}
    <h2>Carga de Marbetes</h2>
    {% endif %}

 <div style="margin-top:20px;">
   <label style="color:white;">Folios</label>
   <input type="file" name="csv_file" accept=".csv" multiple>
 </div>

<div style="margin-top:10px;">
    <label style="color:white;">Marca</label>
    {{ form.brand }}
</div>
   <button type="submit" name="login" class="create"> Crear </button>
  </form>
{% endblock content %}