{% extends "base.html" %}
{% load static %}
{% block stylesheets %}  <link href="/static/css/submenu.css" rel="stylesheet"> {% endblock stylesheets %}

{% block content %}
{% if user.is_authenticated %}

<div class="cards-list">

<div class="card 1" onclick="javascript:location.href='/coilCreate'">
  <div class="card_image"> <img src="{% static 'media/warehousing_logistics.jpg' %}" /> </div>
  <div class="card_title title-white">
    <p class="card_text">Alta de Bobinas</p>
  </div>
</div>

  <div class="card 2" onclick="javascript:location.href='/labelHandling'">
  <div class="card_image">
    <img src="{% static 'media/qr-bottle.jpg' %}" />
    </div>
  <div class="card_title title-white">
    <p class="card_text">Administración de Marbetes</p>
  </div>
</div>

<div class="card 3" onclick="javascript:location.href='/coil'">
  <div class="card_image">
    <img src="{% static 'media/administracion.jpeg' %}" />
  </div>
  <div class="card_title title-white">
    <p class="card_text">Administración de Bobinas</p>
  </div>
</div>


</div>

    <div class="cards-list">

      <div class="card 1" onclick="javascript:location.href='/coil-request'">
  <div class="card_image">
    <img src="{% static 'media/aprobacion-solicitudes.jpeg' %}" />
    </div>
  <div class="card_title title-white">
    <p class="card_text">Solicitud de Bobinas</p>
  </div>
  </div>

<div class="card 2" onclick="javascript:location.href='/'">
  <div class="card_image">
    <img src="{% static 'media/Aprobacion.png' %}" />
  </div>
  <div class="card_title title-white">
    <p class="card_text">Aprobacion de Solicitudes</p>
  </div>
</div>

<div class="card 3" onclick="javascript:location.href='/labelinit'">
  <div class="card_image">
    <img src="{% static 'media/qr-coil.webp' %}" />
  </div>
  <div class="card_title title-white">
    <p class="card_text">Carga de folios</p>
  </div>
</div>

</div>


{% else %}
 <div class="w3-panel w3-yellow">
            <h3 style="color: white">No has iniciado seccion!</h3>
            <p style="color: white">Por favor acceda al siguiente<a href="{% url 'login' %}" class="create">Link</a> para iniciar seccion</p>
        </div>
{% endif %}
{% endblock content %}