{% extends "base.html" %}
{% block stylesheets %}
 <link href="/static/css/forms.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}

<form role="form" method="post" action="" style="margin-left: 250px; padding-right: 190px">
  {% csrf_token %}

     {% if msg %}
    <h2 class="text-danger">{{ msg | safe }}</h2>
    {% else %}
    <h2>Edita el Marbete</h2>
    {% endif %}

 <div style="margin-bottom: 30px">
      <label style="color:white;">Estatus del marbete</label>
    {{ form.FK_labelStatus_id }}
    </div>

 <div>
      <label style="color:white;">Ubicación de inventario</label>
    {{ form.FK_inventoryLocation_id }}
    </div>

    <button class="button" type="submit" name="login"> Editar </button>
  </form>
{% endblock content %}