{% extends "base.html" %}
{% load static %}
{% block stylesheets %}  <link href="/static/css/crud.css" rel="stylesheet"> {% endblock stylesheets %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
	<h1 style="color: white; margin-bottom: 30px">Manejo de Estado de Marbetes</h1>
	{% if perms.cuervo.add_labelstatus %}
	<a class="create" href="{% url 'status-create'%}"><img  style=" margin-top:10px; margin-right: 10px; margin-bottom:10px; height: 25px; width: 25px" src="{% static 'media/add.png' %}"/>Crear Estado</a>{% endif %}
	<table class="table" id="myTable">
		<thead style="background-color: #1e264e">
			<tr>
				<th scope="col">Estatus del marbete</th>
				<th scope="col">Descripción</th>
				{% if perms.cuervo.change_labelstatus %}
				<th scope="col">Editar</th>{% endif %}
				{% if perms.cuervo.delete_labelstatus %}
				<th scope="col">Eliminar</th>{% endif %}
			</tr>
		</thead>
		<tbody>
		{% for i in label_status %}
			<tr>
				<td>{{ i.name }}</td>
				<td>{{ i.description }}</td>
				{% if perms.cuervo.change_labelstatus %}
				<td><a href="{% url 'status-edit' i.id %}"><span><img class="img" src="{% static 'media/edit.png' %}"/></span></a></td>{% endif %}
				{% if perms.cuervo.delete_labelstatus %}
				<td><a href="{% url 'status-delete' i.id %}"><span><img class="img" src="{% static 'media/delete.png' %}"/></span></a></td>{% endif %}
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% else %}
 <div class="w3-panel w3-yellow">
            <h3 style="color: white">No has iniciado seccion!</h3>
            <p style="color: white">Por favor acceda al siguiente <a href="{% url 'login' %}" class="create">Link</a> para iniciar seccion</p>
        </div>
{% endif %}
{% endblock content %}

{% block javascripts %}
<script>
        $(document).ready(function () {
            var table = $('#myTable').DataTable({
                "pageLength": 5,
                "lengthMenu": [5, 10]
            });
            generateBarcodes();
        });
    </script>
{% endblock javascripts %}