{% extends "base.html" %}
{% load static %}
{% block stylesheets %}  <link href="/static/css/submenu.css" rel="stylesheet"> {% endblock stylesheets %}

{% block content %}
{% if user.is_authenticated %}


<div class="cards-list">

<div class="card 1" onclick="javascript:location.href='/Order'">
  <div class="card_image"> <img src="{% static 'media/trabajadora-almacen.jpg' %}" /> </div>
  <div class="card_title title-white">
    <p class="card_text">Crear Ordenes</p>
  </div>
</div>

  <div class="card 2" onclick="javascript:location.href='/assign'">
  <div class="card_image">
    <img src="{% static 'media/etiquetado-tequila.jpg' %}" />
    </div>
  <div class="card_title title-white">
    <p class="card_text">Asignar Ordenes</p>
  </div>
</div>


  </div>

{% else %}
 <div class="w3-panel w3-yellow">
            <h3 style="color: white">No has iniciado seccion!</h3>
            <p style="color: white">Por favor acceda al siguiente <a href="{% url 'login' %}" class="create">Link</a> para iniciar seccion</p>
        </div>
{% endif %}
{% endblock content %}