{% extends "base.html" %}
{% load static %}
{% block stylesheets %}
 <link href="/static/css/forms.css" rel="stylesheet">
 <link rel="stylesheet" href="{% static 'css/jquery.datetimepicker.min.css' %}" type="text/css"/>
{% endblock stylesheets %}

{% block content %}

<form role="form" method="post" action="" style="margin-left: 250px; padding-right: 190px">
  {% csrf_token %}


     {% if msg %}
    <h2 class="text-danger">{{ msg | safe }}</h2>
    {% else %}
    <h2>Crea una Orden</h2>
    {% endif %}

  <div class="user-box">
    {{ form.uniqueid }}
      <label>ID Unico</label>
    </div>
 <div class="user-box">
    {{ form.lot }}
      <label>Lote</label>
    </div>

<div style="margin-top:20px;">
      <label style="color:white;">Estatus de la orden</label>
    {{ form.status }}
    </div>

<div style="margin-top:20px;">
      <label style="color:white;">SKU</label>
    {{ form.FK_sku_id }}
    </div>

    <button type="submit" name="login" class="create"> Crear </button>
  </form>
{% endblock content %}

{% block javascripts %}
<script type="text/javascript" src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>
 <script>
        $(function () {
            $(".datetimepicker").datetimepicker(
                {format: 'm/d/Y H:i'});
            $(".timepicker").datetimepicker(
                {datepicker: false, format: 'H:i',step: 30}
            );
        });
    </script>
{% endblock javascripts %}