{% extends "base.html" %}
{% load static %}
{% block stylesheets %}  <link href="/static/css/submenu.css" rel="stylesheet"> {% endblock stylesheets %}

{% block content %}
{% if user.is_authenticated %}
<div class="cards-list">

<div class="card 1" onclick="javascript:location.href='/'">
  <div class="card_image"> <img src="{% static 'media/report-image.webp' %}" /> </div>
  <div class="card_title title-white">
    <p class="card_text">Reporte de Bobinas</p>
  </div>
</div>

  <div class="card 2" onclick="javascript:location.href='/'">
  <div class="card_image">
    <img src="{% static 'media/report-image1.webp' %}" />
    </div>
  <div class="card_title title-white">
    <p class="card_text">Reporte Control Marbete</p>
  </div>
</div>

<div class="card 3" onclick="javascript:location.href='/'">
  <div class="card_image">
    <img src="{% static 'media/administracion.jpeg' %}" />
  </div>
  <div class="card_title title-white">
    <p class="card_text">Reporte Control Marbete Envasado</p>
  </div>
</div>


</div>

    <div class="cards-list">

      <div class="card 1" onclick="javascript:location.href='/'">
  <div class="card_image">
    <img src="{% static 'media/aprobacion-solicitudes.jpeg' %}" />
    </div>
  <div class="card_title title-white">
    <p class="card_text">Reporte Devolución</p>
  </div>
  </div>

<div class="card 2" onclick="javascript:location.href='/'">
  <div class="card_image">
    <img src="{% static 'media/Aprobacion.png' %}" />
  </div>
  <div class="card_title title-white">
    <p class="card_text">Reporte Marbete Dañado</p>
  </div>
</div>

<div class="card 3" onclick="javascript:location.href='/'">
  <div class="card_image">
    <img src="{% static 'media/report-image2.webp' %}" />
  </div>
  <div class="card_title title-white">
    <p class="card_text">Reporte Solicitud</p>
  </div>
</div>

</div>

{% else %}
 <div class="w3-panel w3-yellow">
            <h3 style="color: white">No has iniciado seccion!</h3>
            <p style="color: white">Por favor acceda al siguiente <a href="{% url 'login' %}" class="create">Link</a> para iniciar seccion</p>
        </div>
{% endif %}
{% endblock content %}