{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
    <link href="/static/css/crud.css" rel="stylesheet">
    <style>
        .user-box {
            position: relative;
        }

        .user-box .form {
            width: 100%;
            padding: 10px 0;
            font-size: 16px;
            color: #fff;
            margin-bottom: 30px;
            border: none;
            border-bottom: 1px solid #fff;
            outline: none;
            background: transparent;
        }

        .user-box label {
            position: absolute;
            top: 0;
            left: 0;
            padding: 10px 0;
            font-size: 16px;
            color: #fff;
            pointer-events: none;
            transition: .5s;
        }

        .user-box .form:focus ~ label,
        .user-box .form:valid ~ label {
            top: -20px;
            left: 0;
            color: #ffd500;
            font-size: 12px;
        }

        .buttonEdit {
            background: transparent;
            color: rgba(255, 213, 0, 0.67);
            text-transform: uppercase;
            letter-spacing: 3px;
            margin: 35px 0;
            padding: 10px 30px;
            border: 2px solid rgba(255, 213, 0, 0.67);
            font-size: 12px;
        }

        .buttonEdit:hover {
            background: transparent;
            border: 2px solid rgba(240, 240, 240, 0.68);
            color: rgba(240, 240, 240, 0.68);
        }

        form.uniqueid input {
            font-size: 16px;
            color: #ffd500;
            margin-bottom: 15px;
            border: none;
            border-bottom: 1px solid #fff;
            outline: none;
            background: transparent;
        }
    </style>
{% endblock stylesheets %}

{% block content %}
{% if user.is_authenticated %}
      <div class="container" style="margin-left: 250px;">

            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}

      <h3 style="color: white; margin-bottom: 30px; margin-top: 30px">Bobinas asignadas a la Orden</h3>

        <form role="form" method="post" action="">
            {% csrf_token %}
            <table class="table" id="myTable">
                <thead style="background-color: #1e264e">
                    <tr>
                        <th scope="col">Devolver?</th>
                        <th scope="col">Rollo</th>
                        <th scope="col">SKU</th>
                        <th scope="col">Folio Inicial</th>
                        <th scope="col">Folio Final</th>
                        <th scope="col">Total Rollo</th>
                        <th scope="col">Merma</th>
                        <th scope="col">No caja</th>
                        <th scope="col">Total por caja</th>
                        <th scope="col">Estatus</th>
                    </tr>
                </thead>
                <tbody>
                    {% for coil in coils %}
                        <tr>
                            <td><input type="checkbox" name="selected_coils{{ coil.id }}" value="{{ coil.id }}"/></td>
                            <td>{{ bobina.numrollo }}</td>
                        <td>{{ coil.sku }}</td>
                        <td>{{ coil.initNumber }}</td>
                        <td>{{ coil.finishNumber }}</td>
                        <td>{{ coil.missing }}</td>
                        <td>{{ coil.notDelivered }}</td>
                        <td>{{ coil.boxNumber }}</td>
                        <td>{{ coil.missing }}</td>
                        <td>{{ coil.FK_coilStatus_id.name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit" name="coil_form" class="btn buttonEdit" value="Devolver">Devolver</button>
        </form>

    </div>
{% else %}
    <div class="w3-panel w3-yellow">
        <h3 style="color: white">No has iniciado sesión!</h3>
        <p style="color: white">Por favor, acceda al siguiente <a href="{% url 'login' %}" class="create">link</a> para iniciar sesión.</p>
    </div>
{% endif %}
{% endblock content %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            var table = $('#myTable').DataTable({
                "pageLength": 5,
                "lengthMenu": [5,10, 15]
            });
            generateBarcodes();
        });
    </script>
{% endblock javascripts %}
