{% extends "base.html" %}
{% block stylesheets %}
 <link href="/static/css/forms.css" rel="stylesheet">
<style>
    .table-container {
        max-height: 400px; /* Ajusta la altura según tus necesidades */
        overflow-y: auto;
        border: 1px solid #ccc;
    }
    .table {
        width: 100%;
        border-collapse: collapse;
    }
    .table thead {
        position: sticky;
        top: 0;
        background-color: #1e264e;
        color: white;
    }
    .table th, .table td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    .table-container::-webkit-scrollbar-track {
        border: 0.5px solid #000000;
        background-color: #F5F5F5;
    }
    .table-container::-webkit-scrollbar {
        width: 10px;
        background-color: #F5F5F5;
    }
    .table-container::-webkit-scrollbar-thumb {
        background-color: #ffd500;
    }
</style>
{% endblock stylesheets %}

{% block content %}
<form role="form" method="post" action="" style="margin-left: 250px; padding-right: 190px" enctype="multipart/form-data" id="coilForm">
    {% csrf_token %}

    {% if msg %}
    <h2 class="text-danger">{{ msg | safe }}</h2>
    {% else %}
    <h2>Solicitud: {{ coil_request_instance.id }}</h2>
    {% endif %}
    <div class="container">
        <div class="user-box">
            {{ form.ordenproduccion }}
            <label>Orden de producción</label>
        </div>

        {% if orden %}
        <h3 style="color: white">DATOS DE LA ORDEN</h3>
        <table class="table" style="color: white">
            <thead style="background-color: #1e264e; color: white">
                <tr>
                    <th scope="col">Orden</th>
                    <th scope="col">SKU</th>
                    <th scope="col">Descripción SKU</th>
                    <th scope="col">Estatus</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ orden.uniqueid }}</td>
                    <td>{{ orden.FK_sku_id.sku }}</td>
                    <td>{{ orden.FK_sku_id.description }}</td>
                    <td>{{ orden.status }}</td>
                </tr>
            </tbody>
        </table>
        <br><br>
        <div class="user-box">
            <input type="number" name="marbetes_necesarios" id="marbetes_necesarios" value="{{ marbetes_necesarios }}">
            <label>Cantidad de marbetes necesarios</label>
        </div>
        <button type="submit" name="seleccionar" class="button">Seleccionar Bobinas</button>
        {% endif %}
    </div>

    <br><br><br>
    <div class="container">
        <h3 style="color: white">BOBINAS</h3>
        <div class="table-container">
        <table class="table" id="myTable">
            <thead style="background-color: #1e264e; color: white">
                <tr>
                    <th scope="col">
                        <input type="checkbox" id="select_all">
                    </th>
                    <th scope="col">Bobina</th>
                    <th scope="col">SKU</th>
                    <th scope="col">Folio Inicial</th>
                    <th scope="col">Folio Final</th>
                    <th scope="col">Total Rollo</th>
                    <th scope="col">Lugar Destino</th>
                    <th scope="col">Merma</th>
                    <th scope="col">No caja</th>
                    <th scope="col">Total por caja</th>
                </tr>
            </thead>
            <tbody style="color: white">
                {% for bobina in bobinas %}
                <tr>
                    <td>
                        <input type="checkbox" name="selected_bobinas" value="{{ bobina.id }}"
                        {% if bobina.id in selected_lote_coils %} checked {% endif %}>
                    </td>
                    <td>{{ bobina.id }}</td>
                    <td>{{ bobina.sku }}</td>
                    <td>{{ bobina.initNumber }}</td>
                    <td>{{ bobina.finishNumber }}</td>
                    <td>{{ bobina.missing }}</td>
                    <td>{{ bobina.unit }}</td>
                    <td>{{ bobina.missing }}</td>
                    <td>{{ bobina.boxNumber }}</td>
                    <td>{{ bobina.delivered }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>

    <div>
        <h3 style="color: white">CANTIDAD TOTAL DE MARBETES SOLICITADOS:</h3>
        <h4 style="color: red" id="total_quantity">{{ marbetes_totales }}</h4>
        <input type="hidden" name="total_quantity_hidden" id="total_quantity_hidden" value="{{ marbetes_totales }}">
    </div>

    <button type="submit" name="crear" class="create"> Actualizar </button>

</form>
{% endblock content %}

{% block javascripts %}
<script>
$(document).ready(function () {

    function updateTotalQuantity() {
        var totalQuantity = 0;
        $('input[type="checkbox"][name="selected_bobinas"]:checked').each(function() {
            totalQuantity += parseInt($(this).closest('tr').find('td:nth-child(6)').text().trim());
        });
        $('#total_quantity').text(totalQuantity);
        $('#total_quantity_hidden').val(totalQuantity);
    }

    $('input[type="checkbox"][name="selected_bobinas"]').change(function() {
        updateTotalQuantity();
    });

    updateTotalQuantity();

    $('#select_all').click(function() {
        $('input[type="checkbox"][name="selected_bobinas"]').prop('checked', this.checked);
        updateTotalQuantity();
    });

    $('#coilForm').submit(function(event) {
        if ($('input[type="checkbox"][name="selected_bobinas"]:checked').length === 0) {
            alert('Debe seleccionar al menos una bobina.');
            event.preventDefault();
        }
    });
});
</script>
{% endblock javascripts %}
