*{
 margin: 0;
 padding: 0;
}

html{
    width: 100vw;
    height: 100vh;
}

/* CSS which you need for blurred box */
body{
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 background-position: top;
 background-image:url(https://cherry-brightspot.s3.amazonaws.com/2d/ed/711d6bde4bda92bb1c561c891c24/201712061432750-92a9162.jpg);
 width: 100%;
 height: 100%;
 font-family: Arial, Helvetica;
 letter-spacing: 0.02em;
  font-weight: 400;
 -webkit-font-smoothing: antialiased;
}

.blurred-box{
  position: relative;
  width: 250px;
  top: calc(50% - 195px);
  left: calc(50% - 145px);
  background: inherit;
    background-color: rgba(62, 60, 60, 0.6);
  border-radius: 20px;
  overflow: hidden;
}

.blurred-box:after{
 content: '';
 width: 300px;
 height: 400px;
 background: inherit;
 position: absolute;
 left: -25px;
 right: 0;
 top: -25px;
 bottom: 0;
 box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
 filter: blur(10px);
}


/* Form which you dont need */
.user-login-box{
  position: relative;
  margin-top: 50px;
  text-align: center;
  z-index: 1;
}
.user-login-box > *{
  display: inline-block;
  width: 200px;
}

.user-icon{
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50%;
  background-size: contain;
  background-image: url(../media/usuario-de-perfil.png);
}

.user-name{
  margin-top: 15px;
  margin-bottom: 15px;
  color: white;
}

.form-control{
  width: 140px;
  height: 25px;
  opacity: 0.4;
  border-radius: 2px;
  padding: 5px 15px;
  border: 0;
}

#id_username{
    width: 140px;
  height: 25px;
  opacity: 0.4;
  border-radius: 2px;
  padding: 5px 15px;
  border: 0;
}

button{
  background: transparent;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 35px 0;
  padding: 10px 30px;
  border: 2px solid #FFF;
    font-size: 12px;
}

.register{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: small;
    color: #ffffff;
}
.token{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: xx-small;
    color: #ffffff;
}

a.create:link {color: #ffffff;text-decoration:none;}
a.create:visited {color: #afabab;text-decoration:none;}
a.create:hover {text-decoration:underline;}

button:hover{
  background: transparent;
  border: 2px solid rgba(234, 230, 40, 0.4);
    color: rgba(234, 230, 40, 0.4);
}