{% load static %}
{% if user.is_authenticated %}
<div class="sticky" id="wrapper">
      <!-- Sidebar -->
      <div  id="sidebar-wrapper">
         <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
             <img style=" margin-top:10px; margin-left:45px; height: 100px; width: 140px" src="{% static 'media/jose_cuervo_logo.png' %}"/>
            <li>
               <a href="{% url 'configuration' %}"><span class="fa-stack fa-lg pull-left"><img class="img" src="{% static 'media/config.png' %}"/></span>Configuración</a>
            </li>
            <li>
               <a href="{% url 'order-menu' %}"> <span class="fa-stack fa-lg pull-left"><img class="img" src="{% static 'media/botella.png' %}"/></span>Ordenes</a>
            </li>
            <li>
               <a href="{% url 'label-menu' %}"><span class="fa-stack fa-lg pull-left"><img class="img" src="{% static 'media/qr.png' %}"/></span>Marbetes</a>
            </li>
            </li>
             <li>
               <a href="{% url 'reports' %}"><span class="fa-stack fa-lg pull-left"><img class="img" src="{% static 'media/reportes.png' %}"/></span>Reportes</a>
            </li>
            <li>
               <a href="{% url 'logout' %}"><span class="fa-stack fa-lg pull-left"><img class="img" src="{% static 'media/desconectar.png' %}" class=""/></span>Desconectar</a>
            </li>
         </ul>
      </div>
     </div>
{% endif %}

{% block javascripts %}

{% endblock javascripts %}