{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jose Cuervo</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/nav.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/jquery.dataTables.css' %}" type="text/css"/>
    <link rel="shortcut icon" href="{% static 'favicon/favicon.svg' %}"/>
    {% block stylesheets %} {% endblock stylesheets %}
</head>
<body class="scroll">
{% include 'snippets/nav.html' %}

<div class="w3-container" id="page-content-wrapper">
    {% block content %}
    {% endblock content %}
</div>

<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{% static 'js/jquery.dataTables.js' %}"></script>
{% block javascripts %}{% endblock javascripts %}

</body>
</html>