{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jose Cuervo</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/nav.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/jquery.dataTables.css' %}" type="text/css"/>
    <link rel="shortcut icon" href="{% static 'favicon/favicon.svg' %}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% block stylesheets %} {% endblock stylesheets %}
</head>
<body class="scroll">
{% include 'snippets/nav.html' %}

<div class="w3-container" id="page-content-wrapper">
    {% block content %}
    {% endblock content %}
</div>

<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{% static 'js/jquery.dataTables.js' %}"></script>
<script>
    $(document).ready(function(){
        // Hacer parpadear el badge
        setInterval(function() {
            $("#unseen-files-count").fadeOut(500).fadeIn(500);
        }, 1000);
    });
</script>
{% block javascripts %}{% endblock javascripts %}

</body>
</html>